{% extends '::base.html.twig' %}
{% block body %}
<div class="container">
  <h1>Votre Panier</h1>

  <table cellspacing="0">
    <tr class="firstTd">
      <td>Produit</td>
      <td></td>
      <td>Quantité</td>
      <td>Prix unitaire</td>
    </tr>
    <tr class="productCart">
      <td class="firstTd">
        <img src="https://lh4.ggpht.com/wKrDLLmmxjfRG2-E-k5L5BUuHWpCOe4lWRF7oVs1Gzdn5e5yvr8fj-ORTlBF43U47yI=w300" />
      </td>
      <td>
        <h2><a href="{{ asset('description') }}">Titre du Produit</a><h2>
      </td>
      <td>
        <select id="quantProduct">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </td>
      <td>33,33€</td>
    </tr>
  </table>

</div>
{% endblock %}
